{{> includes/header}}

<div class="card">
    <div class="card-header text-center">
        <h5>Error</h5>
    </div>
    <div class="card-body">
        {{#message}}
            <p>{{message}}</p>
        {{/message}}
        {{^message}}
            <p>Something bad happened.</p>
        {{/message}}
    </div>
    <div class="text-center card-footer">
        <a class="btn btn-primary" href="/">Go back</a>
    </div>
</div>

{{> includes/footer}}