{{> includes/header}}

<form action="/register" method="post" class="card">
    <div class="card-header text-center">
        <h5>Register New Account</h5>
    </div>
    {{#message}}
        <div class="card-body">{{message}}</div>
    {{/message}}
    <div class="card-body form-group d-flex flex-column">
        <label for="name">Name
            <input class="form-control" type="name" name="name" required>
        </label>
        <label for="username">Username
            <input class="form-control" type="username" name="username" required>
        </label>
        <label for="password">Password
            <input class="form-control" type="password" name="password" required>
        </label>
        <label for="role">Role
            <select class="form-select" name="role" required>
                <option value="none" selected disabled hidden>Select role</option>
                {{#roles}}
                    <option value="{{role}}">{{role}}</option>
                {{/roles}}
            </select>
        </label>
    </div>
    <div class="text-center card-footer">
        <input class="btn btn-primary" type="submit" name="Submit" value="Submit">
    </div>
</form>

{{> includes/footer}}